## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## NuGet
*.nupkg
nupkg/
**/packages/

## IDE
.vs/
.vscode/
*.DotSettings.user

## Benchmarks
BenchmarkDotNet.Artifacts/

## OS
Thumbs.db
.DS_Store
